body {
    background: rgb(101, 98, 160);
    background: radial-gradient(circle, rgb(83, 131, 175) 0%, rgb(79, 104, 170) 50%, rgb(31, 63, 94) 100%);
    text-align: center;
    font-family: 'CustomFont', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color:rgb(250, 250, 250);
}
button {border-radius: 25px;
    background-color:rgb(64, 61, 92);
    border: solid 4px rgb(70, 76, 156);
    padding: 30px;
    font-size: 50px;
    font-family: 'CustomFont', sans-serif;
    font-weight: bold;
    margin-bottom: 10%;
    margin-top: 10%;
    color: rgb(125, 31, 153);
    color:rgb(255, 255, 255);
    background: rgb(119, 141, 201);
}
img {
    border-radius: 25px;
    border: solid 4px rgb(70, 76, 156);
    margin-top: 2%;
}
input {
    border-radius: 25px;
    background-color: rgb(70, 76, 156);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:antiquewhite;
}